



{% extends 'base.html' %} {% block content %}
{% load static %}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>
<body>
<style>
     body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: rgb;

}





    }

    .head_text {
        color: rgb;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
        background-color: rgb;

    }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">


    <H1>About Us</H1>
    <p>This is a tech blog with less than one year of existence, teaching and posting contents related to tech. Tech Contents on this blog are compiled by experts who have gained experience teaching and writing tech contents
         </p>
. </p>
           </div>
    </div>

</body>
</html>
{% endblock content %}
