
{% extends 'base.html' %} {% block content %}
{% load static %}


 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>
<body>
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: rgb;

}





    }

    .head_text {
        color: rgb;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
        background-color: danger;

    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">


 <h5>Privacy-policy</h5>



 <H1>What personal data we collect and why we collect it?</H1>
When visitors leave comments on the site, we collect the data shown in the comments form. After approval of your comment.

                            <H1>
Contact forms</H1>
We collect names, email addresses, and messages from contact forms to respond to queries. The resulting submission of contact forms are generally not shared.


                            <H1>
Cookies</H1>These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.

If you leave a comment on our site, you may opt-in to saving your name, email address, and website in cookies. If you have an account and log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.


                            <H1>
Embedded content from other websites</H1>
Articles on this site may include embedded content (e.g.images, articles, etc.). Embedded content from other websites behaves the same way as if the visitor has visited the other website.

These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.



                            <H1>
Analytics Tool</H1>
Google Analytics is used to record website visitor statistics. This may be used in aggregate to learn more about what content is interesting or useful to visitors. You can learn more about Google’s privacy policy here: https://policies.google.com/privacy.



                            <H1>
How long do we retain your data?</H1>
If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can automatically recognize and approve any follow-up comments instead of holding them in a moderation queue.

For users that register on our website, we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). the Website administrator can also see and edit that information.

Your personal information will be retained indefinitely if you subscribe to an email marketing campaign.

If you make a product purchase, your personal information will be retained indefinitely.

                            <H1>
What rights do you have over your data?</H1>
You may opt out of receiving most e-mails from us by following the “unsubscribe” instructions provided in the e-mails. Alternatively, you may contact us as described herein. If you are our customer, you may not be able to opt out of all emails, including certain administrative or billing communications essential to your account's ongoing maintenance.



                            <H1>
Contact information</H1>
If you have privacy concerns, you can contact the website owner directly via renogodswill@gmail.com.



 </p>
                    <p>



  <p>
</p>
           </div>
    </div>

</body>
</html>
{% endblock content %}
